/* Body initialisation */

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  background: url("./image.jpg")
    no-repeat center center fixed;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar Css */

nav {
  max-width: 100%;
  mask-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 25%,
    #ffffff 75%,
    rgba(255, 255, 255, 0) 100%
  );
  margin: 0%;
  padding: 0%;
}

nav ul {
  text-align: center;
  background: #ffffffe6;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
  padding: 18px;
  font-family: serif;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  margin: 0% 5% 0% 5%;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(133, 7, 7, 0.6);
  background: rgba(173, 39, 6, 0.466);
  color: rgba(0, 35, 122, 0.7);
  cursor: pointer;
  transition: 10ms;
}

nav ul li:left {
  transition: 100ms;
}

/* Main Css */

h1 {
  text-align: left;
  background-color: #050505;
  padding: 2%;
  margin: 5% 20% 0% 20%;
  color: #ffffff;
  border-radius: 10px;
}

h3 {
  text-align: left;
  background-color: #000000;
  padding: 2%;
  margin: 5% 25% 0% 20%;
  color: #ffffff;
 border-radius: 12px;

}

h4 {
  text-align:left;
  background-color: #000000;
  padding: 2%;
  margin: 5% 25% 0% 20%;
  color: #ffffff;
 border-radius: 12px;

}

